{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form>
        <div class="mb-3">
            <h2>Transaction History</h2>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Time</th>
                        <th>Bought / Sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.symbol }}</td>
                            <td>{{ transaction.shares }}</td>
                            <td>{{ transaction.price | usd }}</td>
                            <td>{{ transaction.timestamp }}</td>
                            <td>{{ transaction.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}