{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form>
        <div class="mb-3">
            <h2>Portfolio</h2>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                        <tr>
                            <td>{{ stock.name }}</td>
                            <td>{{ stock.symbol }}</td>
                            <td>{{ stock.total_shares }}</td>
                            <td>{{ stock.price | usd }}</td>
                            <td>{{ stock.holding | usd }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table text-align="left">
                <tr>
                    <td><b>Cash: </b></td>
                    <td>{{ "%.2f" | format(cash) }}</td>
                </tr>
                <tr>
                    <td><b>Grand Total: </b></td>
                    <td>{{ "%.2f" | format(total_holding) }}</td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}